extends layout/mainlayout.pug
block content
    div
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eos est fugiat, id iusto vitae voluptatum. A ab aliquam illum odit repudiandae soluta, voluptatibus. Commodi enim laborum modi reiciendis veritatis!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut eaque est id illo maxime odit optio sequi tempore velit! Autem cupiditate doloribus eveniet explicabo ipsa laborum natus rerum voluptate?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto culpa dignissimos earum eos est, facere harum id illum itaque, minima nemo nihil odit, perspiciatis qui saepe similique tenetur voluptate?




