doctype html
html(lang="ru-RU")
    include blocks/header/header.pug
    include blocks/footer/footer.pug
    include blocks/head/head.pug
    +head()
    body
        .wrapper
            .container
                .main-content
                    +header()
                    .content
                        block content
                    +footer()