mixin reset_password(data)
  // Запрос на смену пароля
  div
    form(action="" method="post")
      #{myform.hidden_tag()}
        #{myform.password(placeholder = "Пароль")}
        #{myform.password2(placeholder = "Пароль Ещё раз")}
        #{myform.submit(value = "Войти")}