mixin reset_password_request(data)
      // Запрос на смену пароля
     div
         form(action="" method="post")
             #{myform.hidden_tag()}
                 #{myform.email(size = 64, placeholder = "Электронная почта")}
                 #{myform.password(placeholder = "Пароль")}
                 #{myform.submit(value = "Войти")}


