.header {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
.header-content {
  display: flex;
  height: 100%;

}

.logo {
  width: 25%;

}
.logo__link {
  text-decoration: none;
  display: block;
  padding: 20px;
}

.nav {
  width: 75%;

  display: flex;
}

.nav-list {
  display: flex;
  margin-left: auto;
}

.nav__item {

}

.nav__link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgrey;
  &:hover {
    background-color: greenyellow;


  }
}