doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block title
            title default title
        link(rel="stylesheet" href="assets/css/foundation.css")
        link(rel="stylesheet" href="assets/css/main.css")
    body
        p Hello World!!!
        div.firstclass
            p dkfjghd
            p df dfgd
            p jksdhfjksngjdfkjsdflkndfkjgnkdmbfnm,dfnb vmdfnvm,dgnb
            p kjdfghjkdfsghkjfsdghksdfjgkdsfjgnvdfsngv
            p djkfvhsdkfjghsdjfkgkjfds
            p kjhkjbhds jghb
